.list-item {
  display: flex;
  flex-direction: row;
}
.all-items {
  overflow-y: auto;
  justify-content: center;
  align-items: center;
}
.delete {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}